[package]
name = "kad"
version = "0.3.0"
repository = "https://github.com/ryankurte/rust-kad"
description = "A generic / futures based implementation of the Kademlia DHT"
authors = ["Ryan Kurte <ryankurte@gmail.com>"]
license = "MIT / Apache-2.0"

[dependencies]
futures = "0.1.25"
futures-timer = "0.1.1"
num = { version = "0.2.0", features = ["rand"]}
structopt = "0.2.14"
rand = "0.5.5"

rr-mux = "0.7.0"

[dependencies.log]
version = "0.4.6"
features = ["max_level_info"]

#[patch.crates-io]
#rr-mux = { path = "../rr-mux" }
